{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blog | La Caffettiera{% endblock %}

{% block content %}
    <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Nuestro</span>
                <span class="section-heading-lower">Blog</span>
              </h2>
              <p>¡Bienvenido a nuestro blog! Aquí compartiremos noticias, consejos sobre café y mucho más.</p>
              <p>Próximamente tendremos artículos interesantes sobre el mundo del café.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
